@use '../../app/variables.scss';

@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin bordered-input($borderColor, $borderRadius: 0.5rem, $padding: 1rem) {
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  padding: $padding;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  z-index: 1000;
  @include flex-center(column);
  align-items: center;
  justify-content: center;
}

.modalContent {
  @include flex-center(column, 2rem);
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 30rem;

  p {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .descriptionText {
    font-size: 1rem;
    color: variables.$gray300;
  }

  .inputContainer {
    @include flex-center(column, 0.5rem);

    label {
      font-size: 1rem;
    }

    input {
      height: 3rem;
      @include bordered-input(variables.$borderGray);
    }
  }

  .buttonContainer {
    @include flex-center(row, 1rem);
  }
}

@media (max-width: 768px) {
  .modalContent {
    height: 100%;
    padding: 3.5rem;

    .buttonContainer {
      @include flex-center(column, 1rem);
    }
  }
}