$gray200: #B0BBD1;
$gray300: rgba(0, 0, 0, 0.54);
$borderGray: #D7DDE9;
$hoverGray: #F7F9FD;
$buttonPrimary: linear-gradient(90deg, #0796D3, #53C0F0);
$buttonDestructive: linear-gradient(90deg, #D30707, #F05353);
$buttonSecondary: #E7EEFB;